
// The class name needs to match the names of the category and block
.wp-block-cloudblocks-simple-block {
  padding: 60px 20px;
  text-align: center;

  h1 {
    margin: 0;
    font-size: 56px;
  }
}
