{
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "env": {
    "node": true,
    "es6": true
  },
  "extends": "eslint:recommended",
  "rules": {
		"arrow-parens": ["warn", "as-needed"],
		"arrow-spacing": "warn",
		"block-scoped-var": "warn",
		"brace-style": [ "warn", "stroustrup", {
			"allowSingleLine": true
		}],

		"comma-spacing": "warn",
		"comma-style": "warn",

		"curly": "warn",
		"dot-notation": "warn",
		"eol-last": "error",
		"eqeqeq": "warn",

		"func-call-spacing": [ "warn", "never" ],
		"func-style": [ "error", "declaration", {
			"allowArrowFunctions": true
		}],
		"generator-star-spacing": "warn",
		"indent": [ "warn", 2, {
			"MemberExpression": 0,
			"SwitchCase": 1
		}],
		"jsx-quotes": "error",
		"new-parens": "error",

		"no-caller": "error",
		"no-console": "off",
		"no-duplicate-imports": "error",
		"no-else-return": "warn",
		"no-eval": "error",
		"no-extra-label": "warn",
		"no-floating-decimal": "warn",
		"no-lonely-if": "warn",
		"no-mixed-operators": "off",
		"no-multi-str": "error",
		"no-negated-in-lhs": "warn",
		"no-shadow": "warn",
		"no-undef-init": "error",
		"no-unused-expressions": "error",
		"no-useless-computed-key": "warn",
		"no-useless-constructor": "warn",
		"no-useless-rename": "warn",
		"no-useless-return": "warn",
		"no-var": "error",
		"no-whitespace-before-property": "warn",

		"object-curly-spacing": [ "error", "always" ],
		"prefer-const": "warn",
		"prefer-rest-params": "warn",
		"quotes": [ "warn", "single", {
			"allowTemplateLiterals": true
		}],

		"rest-spread-spacing": ["warn", "never"],
		"semi-spacing": "warn",
		"semi-style": [ "warn", "last" ],
		"semi": [ "error", "always" ],

		"space-before-blocks": "warn",
		"space-before-function-paren": "warn",
		"space-infix-ops": "warn",
		"space-in-parens": ["warn", "never"],
		"spaced-comment": ["warn", "always"],
		"template-curly-spacing": "warn",
		"yield-star-spacing": "warn",

		"valid-jsdoc": ["warn", {
      "requireReturn": false,
      "requireReturnDescription": false,
      "requireParamDescription": false
    }]
  }
}
